:root {
    --background-color: #efefef;
    --color: #272727;
}

.dark {
    --background-color: #272727;
    --color: #efefef;
}

.light {
    --background-color: #efefef;
    --color: #272727;
}

.default {
    --background-color: #efefef;
    --color: #272727;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    transition: 0.35s all ease-in;

    outline: none;
    border: none;

    text-decoration: none;

    list-style-type: none;
    list-style: none;
}

body,
html {
    background-color: var(--background-color);
    color: var(--color);
    min-height: 100vh;
}
